body {
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.content {
  display: flex;
  flex: 1 1 auto;
  overflow-y: auto;
}

ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#messages {
  flex: 1 1 auto;
  overflow-y: scroll;
}

#users {
  flex: 0 0 200px;
  overflow-y: auto;
}

li {
  padding: 0.5rem 1rem;
  overflow-wrap: break-word;
}

.footer {
  display: flex;
  flex: 0 1 auto;
}

.form {
  display: flex;
  height: 3rem;
  padding: 0.25rem;
  background: rgba(0, 0, 0, 0.15);
}

#message_form {
  flex: 1 1 auto;
}

#username_form {
  flex: 0 1 200px;
}

input {
  flex: 1 1 auto;
  border: none;
  padding: 0 1rem;
  border-radius: 2rem;
  margin: 0.25rem;
}

input:focus {
  outline: none;
}

.form > button {
  flex: 0 1 auto;
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}
